{{ define "main" }}

<div class="row">
  <div class="col-md-12">
    <h2>{{ .Title }}</h2>
    <blockquote class="blockquote text-right">
      <p class="mb-0">
        {{ .Date.Format .Site.Params.timestamp }}
        <br />
        {{ i18n "WordCount" .WordCount }}
        , {{ i18n "ReadingTime" .ReadingTime }}.
      </p>
      <footer class="blockquote-footer">
        <cite>{{ i18n "SinglePageBy" .Params.author}}</cite>
      </footer>
    </blockquote>
  </div>

  {{if .Params.toc}}
  <div class="col-md-3">
    <aside>
      {{.TableOfContents}}
    </aside>
  </div>
  {{end}}
  <div class="col-md-{{if .Params.toc}}9{{else}}12{{end}}">
    {{ .Content }}
  </div>
  <div class="col-md-12">
    {{if .PrevPage}}
    <a href="{{ .PrevPage.Permalink }}">
      <i class="far fa-arrow-alt-circle-left fa-3x"></i>
    </a>
    {{end}} {{if .NextPage}}
    <a class="float-right" href="{{ .NextPage.Permalink }}">
      <i class="far fa-arrow-alt-circle-right fa-3x"></i>
    </a>
    {{end}}
  </div>
</div>

{{ end }}